.stars-container {
    width: 190px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: $mobile-screen) {
    .stars-container {
        width: 95px;
        img {
            height: 15px;
            width: 15px;
        }
    }
}
