.apropos {
    width: 100%;
    margin-top: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.apropos-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1000px;
    font-size: 24px;
}
