.pages {
    display: flex;
    flex: 1;
    flex-direction: column;
    box-sizing: border-box;
    margin: 63px 100px 43px 100px;
}

/* RESPONSIVE
$tablet-screen-max: 992px;
$tablet-screen-min: 768px;
$mobile-screen: 480px;
*/

@media screen and (max-width: $tablet-screen-max) {
    .pages {
        margin: 40px 40px 20px 40px;
    }
}

@media screen and (max-width: $tablet-screen-small) {
    .pages {
        margin-top: 0px;
    }
}

@media screen and (max-width: $mobile-screen) {
    .pages {
        margin: 0px 20px 0px 20px;
    }
}
